$colors: (
  #ff3f3f,
  #ffb968,
  #ffea00,
  #89ff00,
  #00e2ff,
  #3867d6,
  #5f27cd,
  #ffcccc
);

@mixin hover-indicator($colors) {
  $length: length($colors);
  $pairs: calc($length / 2);
  @for $i from 1 through $pairs {
    $index: ($i - 1) * 2;
    $color1: nth($colors, $index + 1);
    $color2: nth($colors, $index + 2);

    &:nth-child(#{$i}):hover ~ #indicator {
      background: linear-gradient(130deg, $color1, $color2);
    }

    &:nth-child(#{$i}):before {
      background-color: nth($colors, $index + 1);
    }

    &:nth-child(#{$i}):after {
      background-color: nth($colors, $index + 2);
    }
  }
}

nav {
  display: table;
  margin-inline: auto;
  position: relative;
  a {
    position: relative;
    width: auto;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.2s ease transform;
    }

    &::before {
      top: 0;
      left: 10px;
      width: 6px;
      height: 6px;
    }

    &::after {
      top: 5px;
      left: 18px;
      width: 4px;
      height: 4px;
    }

    &:hover {
      color: #fff;
    }

    &:hover::before,
    &:hover::after {
      transform: scale(1);
    }

    & {
      @include hover-indicator($colors);
    }
  }
}

#indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}
